@media (min-width: 400px)  {
}
.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
}
.container div{
    border: 1px solid #333;
    flex-basis: 10%;
    padding: 10px;
}
.container div{
    flex-basis: 23%;
}
.box-1, .box-2, .box-3, .box-4, .box-5{
    background-color: red;
    display: block;
    width: 200px;
    height: 200px;
}