@media (min-width: 400px)  {
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.container div {
    border: 1px solid #333;
    padding: 10px;
}
.box{
    display: block;
    width: 200px;
    height: 200px;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color:yellow;
}
.green{
    background-color: green;
}
.orange{
    background-color: orange;
}